plotly
numpy 
pandas
scipy
matplotlib
ipykernel
scikit-learn
dms_ci
custom_inherit
tqdm
svglib
pyyaml
pyarrow
nbformat>= 4.2.0
sphinx 
recommonmark
blockdiag
sphinx_rtd_theme
sphinxcontrib-blockdiag
sphinx_panels